<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    
</head>
<body>
    <div class="ventana"id="vent">
        <article class="ventana1" id="vent1">
            <div id="cerrar"><a href="javascript:cerrar()"><i class="fa-regular fa-rectangle-xmark"></i></a></div>
            <div id="contenido-ventana">
                <h2>Estas agregando al carrito</h2>
                <a href="javascript:abrir1()">Ver mas detalles</a>
            </div>
            
                <article class="ventana3" id="vent3">
                    <div id="cerrar"><a href="javascript:cerrar1()"><i class="fa-regular fa-rectangle-xmark"></i></a></div>
                    <div id="contenido-ventana1">
                        <div class="masdetalles1">
                            <img src="assets/img/acetaminofen.jpg" alt="">
                        </div>
                        <div class="masdetalles">

                        </div>

                    </div>
            
            
                </article>
                
        
    
        </article>
        </div>

        <!-- <a href="javascript:abrir()">MODAL</a> -->
</body>
</html>