<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    
</head>
<body>
    <div class="ventana"id="vent">
        <article class="ventana1" id="vent1">
            <div id="cerrar"><a href="javascript:cerrar()"><i class="fa-regular fa-rectangle-xmark"></i></a></div>
            <div id="contenido-ventana">
                HOLA WAPO
            </div>
    
    
        </article>
        </div>

        <a href="javascript:abrir()">MODAL</a>
</body>
</html>